<div class="inner cover">
    <h1 class="cover-heading">What Is Angular?</h1>

    <p class="lead">AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template
        language and lets you extend HTML's syntax to express your application's components clearly and succinctly.
        Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write.
        And it all happens within the browser, making it an ideal partner with any server technology.</p>

    <p class="lead">
        <a href="#/scope-hierarchy" class="btn btn-lg btn-default">Learn more "ng"</a>
    </p>
</div>